<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
<body>
    {{>header}}
     {{>footer}}
    <h1>HELP TO PEOPLE WHO AFFECTED DUE TO COVID19</h1>
    
    
</body>
</html>
