<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="./css/style.css">
        <img class="icon"src="/img/web.jpg" >
      
    </head>
<body>
  <div class="main-content">
 {{>header}}
 <p>Use this site to get your whether!</p>
 
 <form>
     
     <input placeholder="Location">
     <button>search</button>
     
     
 </form>
 <p id="message-1"></p>
      <p id="message-2"></p>
 <script src="/js/app.js"></script>
 {{>footer}}
        
</div>
 


</body>
</html>
